/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

input {
  background: none;
  outline: none;
  border: 1px solid #DCDFE6;
}

/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
.lw-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-color: #DCDFE6;
  color: #606266;
  background: #FFFFFF;
  border: 1px solid #DCDFE6;
  border-color: #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}

.lw-button.is-round {
  border-radius: 20px;
}

.lw-button--primary {
  color: #FFFFFF;
  background-color: #409EFF;
  border-color: #409EFF;
}

.lw-button--primary:hover, .lw-button--primary:focus {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #FFFFFF;
}

.lw-button--primary.is-plain {
  color: #409EFF;
  background: #ecf5ff;
  border-color: #b3d8ff;
}

.lw-button--primary.is-plain:hover, .lw-button--primary.is-plain:focus {
  background: #409EFF;
  border-color: #409EFF;
  color: #FFFFFF;
}

.lw-button--success {
  color: #FFFFFF;
  background-color: #67C23A;
  border-color: #67C23A;
}

.lw-button--success:hover, .lw-button--success:focus {
  background: #85ce61;
  border-color: #85ce61;
  color: #FFFFFF;
}

.lw-button--success.is-plain {
  color: #67C23A;
  background: #f0f9eb;
  border-color: #c2e7b0;
}

.lw-button--success.is-plain:hover, .lw-button--success.is-plain:focus {
  background: #67C23A;
  border-color: #67C23A;
  color: #FFFFFF;
}

.lw-button--warning {
  color: #FFFFFF;
  background-color: #E6A23C;
  border-color: #E6A23C;
}

.lw-button--warning:hover, .lw-button--warning:focus {
  background: #ebb563;
  border-color: #ebb563;
  color: #FFFFFF;
}

.lw-button--warning.is-plain {
  color: #E6A23C;
  background: #fdf6ec;
  border-color: #f5dab1;
}

.lw-button--warning.is-plain:hover, .lw-button--warning.is-plain:focus {
  background: #E6A23C;
  border-color: #E6A23C;
  color: #FFFFFF;
}

.lw-button--danger {
  color: #FFFFFF;
  background-color: #F56C6C;
  border-color: #F56C6C;
}

.lw-button--danger:hover, .lw-button--danger:focus {
  background: #f78989;
  border-color: #f78989;
  color: #FFFFFF;
}

.lw-button--danger.is-plain {
  color: #F56C6C;
  background: #fef0f0;
  border-color: #fbc4c4;
}

.lw-button--danger.is-plain:hover, .lw-button--danger.is-plain:focus {
  background: #F56C6C;
  border-color: #F56C6C;
  color: #FFFFFF;
}

.lw-button--info {
  color: #FFFFFF;
  background-color: #909399;
  border-color: #909399;
}

.lw-button--info:hover, .lw-button--info:focus {
  background: #a6a9ad;
  border-color: #a6a9ad;
  color: #FFFFFF;
}

.lw-button--info.is-plain {
  color: #909399;
  background: #f4f4f5;
  border-color: #d3d4d6;
}

.lw-button--info.is-plain:hover, .lw-button--info.is-plain:focus {
  background: #909399;
  border-color: #909399;
  color: #FFFFFF;
}

/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
.lw-step {
  width: 100%;
  height: 100%;
  position: relative;
}

.lw-step.lw-step--xbox {
  padding: 0 60px;
  position: relative;
  width: 100%;
  height: 80px;
}

.lw-step.lw-step--ybox {
  padding: 20px 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.lw-step .lw-step--x {
  width: 100%;
  height: 80px;
  position: relative;
}

.lw-step .lw-step--x .lw-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lw-step .lw-step--x .lw-content .lw-step--item {
  width: 46px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  background-color: #cdcdcd;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #eee;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.lw-step .lw-step--x .lw-content .lw-step--item .item-title {
  color: #909399;
  position: absolute;
  width: 400%;
  top: 55.2px;
  left: -150%;
}

.lw-step .lw-step--x .lw-content .lw-step--item.is-active {
  background-color: #E6A23C;
}

.lw-step .lw-step--x .lw-content .lw-step--item.is-active .item-title {
  color: #E6A23C;
}

.lw-step .lw-step--x .lw-content .lw-step--item.is-pass {
  background-color: #409EFF;
}

.lw-step .lw-step--x .lw-content .lw-step--item.is-pass .item-title {
  color: #409EFF;
}

.lw-step .lw-step--x .lw-line {
  width: 100%;
  padding: 0 23px;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: flex;
}

.lw-step .lw-step--x .lw-line .linebox {
  height: 100%;
  padding: 0 46px;
}

.lw-step .lw-step--x .lw-line .linebox .line {
  width: 100%;
  height: 41.6px;
  border-bottom: 1px solid #cdcdcd;
}

.lw-step .lw-step--x .lw-line .linebox .line.is-active {
  border-bottom-color: #409EFF;
}

.lw-step .lw-step--x .lw-line .linebox .line.is-dotted {
  border-bottom-style: dotted;
  border-bottom-width: 4px;
}

.lw-step .lw-step--y {
  width: 100%;
  height: 100%;
  position: relative;
}

.lw-step .lw-step--y .lw-content {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.lw-step .lw-step--y .lw-content .lw-step--item {
  width: 46px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  background-color: #cdcdcd;
  color: #fff;
  border-radius: 50%;
  border: 1px solid #eee;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.lw-step .lw-step--y .lw-content .lw-step--item .item-title {
  color: #909399;
  position: absolute;
  width: 400%;
  top: 0;
  left: 23px;
}

.lw-step .lw-step--y .lw-content .lw-step--item.is-active {
  background-color: #E6A23C;
}

.lw-step .lw-step--y .lw-content .lw-step--item.is-active .item-title {
  color: #E6A23C;
}

.lw-step .lw-step--y .lw-content .lw-step--item.is-pass {
  background-color: #409EFF;
}

.lw-step .lw-step--y .lw-content .lw-step--item.is-pass .item-title {
  color: #409EFF;
}

.lw-step .lw-step--y .lw-line {
  width: 50%;
  padding: 23px 0;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.lw-step .lw-step--y .lw-line .linebox {
  height: 100%;
  padding: 24px 0;
}

.lw-step .lw-step--y .lw-line .linebox .line {
  width: 100%;
  height: 100%;
  border-right: 1px solid #cdcdcd;
}

.lw-step .lw-step--y .lw-line .linebox .line.is-active {
  border-right-color: #409EFF;
}

.lw-step .lw-step--y .lw-line .linebox .line.is-dotted {
  border-right-style: dotted;
  border-right-width: 4px;
}

/* Element Chalk Variables */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
.lw-datepicker-outbox {
  width: 220px;
  height: 40px;
  position: relative;
}

.lw-datepicker-outbox .lw-datepicker-input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.lw-datepicker-outbox .lw-datepicker-pannel {
  width: 300px;
  border: 1px solid #DCDFE6;
  position: absolute;
  top: 45px;
  left: 0;
}

.lw-datepicker-outbox .lw-datepicker-pannel .lw-datepicker-pannel-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lw-datepicker-outbox .lw-datepicker-pannel .lw-datepicker-pannel-content .weekname {
  display: inline-block;
  width: 40px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin: 1px;
}

.lw-datepicker-outbox .lw-datepicker-pannel .lw-datepicker-pannel-content .days div span {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 1px;
  border: 1px solid transparent;
  cursor: pointer;
}

.lw-datepicker-outbox .lw-datepicker-pannel .lw-datepicker-pannel-content .days div span:hover {
  border-radius: 50%;
  border: 1px solid #409EFF;
}

.lw-datepicker-outbox .lw-datepicker-pannel .lw-datepicker-pannel-content .days div .notCurrentM {
  color: #C0C4CC;
}

.lw-datepicker-outbox .lw-datepicker-pannel .lw-datepicker-pannel-content .days div .today {
  background-color: #409EFF;
  color: #FFFFFF;
  border-radius: 50%;
}

.lw-datepicker-outbox .lw-datepicker-pannel .lw-datepicker-pannel-content .days div .select {
  background-color: #409EFF;
  color: #FFFFFF;
  border-radius: 50%;
}
/*# sourceMappingURL=main.css.map */